/*
=============== 
Fonts
===============
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');
/*
=============== 
Variables
===============
*/

:root {
  /* primary/main color */
  --clr-primary-1: #FD1717;
  --clr-primary-2: plum;
  --clr-white: #fff;
  --clr-black: #222;
  --clr-background: hsl(335, 67%, 96%);


  /* primary/main fonts */
  --ff-primary: 'Roboto', sans-serif;
  --ff-secondary: 'Open Sans', sans-serif;
  --line-height: 1.5;
  --spacing: 0.1rem;
  --border-radius: 25px;
  --margine: 1rem;
  --padding: 1rem;
}
/*
=============== 
Global Styles
===============
*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary);
  color: var(--clr-grey-1);
  font-size: 0.875rem;
  margin: auto;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--clr-black);

}
h1,
h2,
h3,
h4,
p {
  letter-spacing: var(--spacing);
  line-height: 1.25;
  margin-bottom: 0.75rem;
  margin-top: 0.75rem;
  color: var(--clr-black);
  line-height: 1.5;
}

h1 {
  font-size: 1.5rem;
  font-family: var(--ff-primary);
}
h2 {
  font-size: 1.25rem;
  font-family: var(--ff-primary);
}
h3 {
  font-size: 1rem;
  font-family: var(--ff-primary);
}
p {
  font-size: 0.75rem;
  font-family: var(--ff-secondary);
}

.main__grafic--one {
  background-color: var( --clr-white);
  padding: .5rem 2rem;
  margin: var(--margine);
  cursor: pointer;
  border: 2px solid var(--clr-black);
}

.main__grafic--one:hover {
  background-color: var( --clr-white);
  padding: .5rem 2rem;
  box-shadow: 4px 4px #222 ;
  cursor: pointer;
  transform: translateY(-2px);
}

.main__grafic--two {
  background-color: var( --clr-primary-1);
  color: var(--clr-white);
  padding: .5rem 2rem;
  margin: var(--margine);
  cursor: pointer;
  border: 2px solid var(--clr-black);
}

.main__grafic--two:hover {
  background-color: var( --clr-white);
  color: var(--clr-black);
  padding: .5rem 2rem;
  box-shadow: 4px 4px #222 ;
  cursor: pointer;
  transform: translateY(-2px);
}


@media screen and (min-width: 800px) {
  h1 {
    font-size: 2rem;
    font-family: var(--ff-primary);
  }
  h2 {
    font-size: 1.25rem;
    font-family: var(--ff-primary);
  }
  h3 {
    font-size: 1rem;
    font-family: var(--ff-primary);
  }
  p {
    font-size: 1rem;
    font-family: var(--ff-secondary);
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}


/*
=============== 
Navbar
===============
*/
nav {
  background: var(--clr-white);
  border-color: var(--clr-primary-3);
  z-index: 999;
}

span {
  color: var(--clr-primary-1);
  font-weight: bold;
}

.nav__all {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  margin: 2rem auto;
  padding: 0 4rem ;
}

.nav__center, 
.nav__right--login, 
.nav__left--shop{
  overflow: hidden; 
  transition: var(--transition);
  justify-content: center; 
}

.nav__left--shop{
  width: 5rem;
  display: flex;
  justify-content: center; 
}

.nav__center--social {
  display: flex;
  justify-content: space-between;
  color: var(--clr-black);
  font-size: 1.2rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  transition: var(--transition);
}

.nav__center--social a:hover {
  color: var(--clr-primary-2);
}

.nav__center--logo {
  display: flex;
  justify-content: center; 
  font-size: 4rem;
  padding-bottom: 2rem;
}

.nav__center--menu {
  display: flex;
  flex-direction: row;
  color: var(--clr-black);
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  transition: var(--transition);
}

.nav__center--menu a {
  padding: var(--padding);
}

.nav__center--menu a:hover {
  color: var(--clr-black);
  transform: scale(2);
  font-weight: bold;
}

.nav__right--login {
  color: var(--clr-black);
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  transition: var(--transition);
  display: flex;
  flex-direction: row;
}

.nav__right--login a {
  padding: var(--padding);
}


.nav__header--toggle {
  font-size: 1.5rem;
  color: var(--clr-primary-2);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}

.nav__header--toggle:hover {
  color: var(--clr-primary-1);
  transform: rotate(90deg);
}

/* 
=============== 
FORM PHP REGISTRATION, LOGIN, INDEX
=============== 
*/

.form__register-input-group input {
font-size: 0.875rem;
border-radius: var(--border-radius);
width: 100%;
padding: 10px;
margin: 5px 0 22px 0;
border: none;
background: #f1f1f1;
}

.form__login-input-group input {
font-size: 0.875rem;
border-radius: var(--border-radius);
width: 100%;
padding: 10px;
margin: 5px 0 22px 0;
border: none;
background: #f1f1f1;
}

.form__register-input-group label {
display: flex;
padding: 5px 10px;
font-size: 0.875rem;
justify-items: left;
}

.form__login-input-group label {
  display: flex;
  padding: 5px 10px;
  font-size: 0.875rem;
  justify-items: left;
  }


.form__register, .form__login {
width: 40%;
margin: 0px auto;
padding: var(--padding);
background: var(--clr-primary-2);
border-radius: var(--border-radius);
}

.form__register-input-btn, 
.form__login-input-btn, 
.form__register-input-info, 
.message__login--success, 
.message__login--text {
  display: flex;
  justify-content: center;
}

.message__login--text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-control input:focus {
  outline: 0;
}

.input-control.success input {
  border-color: #09c372;
}

.input-control.error input {
  border-color: #ff3860;
}

.input-control .error {
  color: #ff3860;
  font-size: 9px;
  height: 13px;
}


/* 
=============== 
sections main
=============== 
*/

.article__one {
    font-family: var(--ff-primary);
    color: var(--clr-grey-1);
    line-height: 1.5;
    font-weight: 900;
    font-size: 0.875rem;
    /* padding-bottom: 3rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40rem;
    margin: 0 auto;

}

.article__one--img {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  max-width: 80%;  
  height: 80%;  
}

.article__one--line  {
  border: 0;
  background-color: var(--clr-grey-1);
  height: 5px;

}

.article__one--text {
  text-align: right;
  width: 40%;
  margin: auto;
} 
.article__one--text h1 {
  font-size: 3rem;
}

.article__one--text p {
  margin-top: 1em;
  font-size: 1.2rem;
}

.article__one--buttons {
  display: flex;
  justify-content: center;
}



/* =============== 
popcor 
===============   */
.popcorn_seed_one {
  position: absolute;
  background: white url(./img/popcorn_seed.png);
  width: 50px; 
  height: 50px;
  background-size: cover;
  left: 5rem;
}

.popcorn_seed_one:hover {
  position: absolute;
  background: white url(./img/popcorn_2.png);
  width: 50px; 
  height: 50px;
  background-size: cover;
  left: 5rem;
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transition-delay: 900ms;
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.popcorn_seed_two {
  position: absolute;
  background: white url(./img/popcorn_seed.png);
  width: 50px; 
  height: 50px;
  background-size: cover;
  right: 10rem;
  top: 10rem;
  transform: rotate(45deg);
}

.popcorn_seed_two:hover {
  position: absolute;
  background: white url(./img/popcorn_3.png);
  width: 50px; 
  height: 50px;
  background-size: cover;
  right: 10rem;
  top: 10rem;
  transition-delay: 900ms;
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}


/* 
=============== 
sections motto
=============== 
*/
.section__motto--menu {
  width: 20rem;
  left: 0px;
}

.section__motto--background {
  background: var(--clr-background);
}
.section__motto--menu {
  background-color:  var(--clr-white);
  padding: .5rem 2rem;
  cursor: pointer;
  border: 2px solid var(--clr-black);
}

.section__motto {
  font-family: var(--ff-secondary);
  color: var(--clr-grey-1);
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40rem;
  margin: 0 auto;
}


.section__motto--img img{
  background-size: cover;
  width: 300px;  
  height: 300px;  
  padding: 0px;
  margin: 0px;
}

.section-motto_text {
  text-align: center;
  width: 60%;
  margin: var(--margine);
}
.section-motto_h1 {
  align-self: flex-end;
  text-align: end;
}
.section-motto_h1 h1 {
  font-size: 3em;
  margin: var(--margine);
}

.section-motto_text h2 {
  font-size: 3em;
  text-align: start;
}

.section-motto_text h3 {
  font-size: 3em;
  font-weight: 100;
  text-align: start;
}

.section-motto_text p {
  text-align: start;
  margin: 1rem;
}

.section-motto_buttons {
  display: flex;
  margin-top: var(--margine);
}




/*
=============== 
sections conact 
===============  
*/

.section__contact--menu{
  width: 20rem;
}

section_property img {
  background-size: contain;
  background-image: url(img/painting_computer.png); 
  background-repeat: no-repeat;
  background-position: center center;
  height: 50vh;
  width: 50vw;
  margin: auto;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  clip-path: polygon(0 26%, 100% 0, 100% 100%, 0% 100%);
}


/*
=============== 
sections footer 
===============  
*/
.footer {
  
  background: var(--clr-white);
  border-color: var(--clr-primary-3);
  border-style: solid;
  padding: var(--padding);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.copyright {
  font-weight: bold;
}


/*
=============== 
sections cookies 
===============  
*/

.cookie-container {
  background: linear-gradient(260deg, #84d7ec 0%, #fca5ea 100%);
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  display: flex;
  width: 100%;
  height: 10rem;
  border-radius: var(--border-radius);
  padding: .5rem 2rem;
  /* box-decoration-break: ; */
  margin: auto;
  box-shadow: 4px 4px #222 ;
  border-color: var(--clr-primary-3);
  border-style: solid;
  align-items: center;
  z-index: 999;
}

.cookie {
  padding: 2rem;
  width: 12rem;
}

.cookies-text {
  font-size: .2rem;
  width: 95%;
  padding: 1rem;
  /* margin: 1rem; */
}

.cookie-subtitle {
  font-size: .5rem;
  color: #444;
  margin: 0;
}

.cookie-button {
    background-color: var( --clr-primary-5);
    border-radius: var(--border-radius);
    padding: .5rem 2rem;
    margin: auto;
    box-shadow: 4px 4px #222 ;
    cursor: pointer;
    margin: 1rem;
}


/* =============== 
Media
=============== */
/*
=============== 
Navbar
===============
*/

@media screen and (min-width: 800px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links {
    height: auto;
    display: flex;
  }
  .links a {
    padding: 0;
    margin: 0 0.5rem;
  }
  .links a:hover {
    padding: 0;
    background: transparent;
  }
  .social-icons {
    display: flex;
  }
  .social-icons a {
    margin: 0 0.5rem;
    color: var(--clr-primary-2);
    transition: var(--transition);
  }
  .social-icons a:hover {
    color: var(--clr-primary-5);
  }
}


@media screen and (min-width: 992px) {
  .cookies-text {
    font-size: .8rem;
    width: 95%;
    padding: 1rem;
    /* margin: 1rem; */
  }
  .cookie-subtitle {
    font-size: .8rem;
    color: #444;
    margin: 0;
  }
}


