/*
=============== 
Fonts
===============
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');
/*
=============== 
Variables
===============
*/

:root {
  /* primary/main color */
  --clr-primary-1: hsl(194, 30%, 64%);
  --clr-primary-2: hsl(0, 0%, 41%);
  --clr-primary-3: hsl(0, 0%, 8%);
  --clr-primary-4: #FD1717;
  --clr-primary-5: plum;
  --clr-background: hsl(335, 67%, 96%);
  --clr-white: #fff;
  --clr-black: #222;
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(210, 22%, 49%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(0, 0%, 66%);


  /* primary/main fonts */
  --h1-fonts: 'Suez One', serif;
  --ff-primary: 'Roboto', sans-serif;
  --ff-secondary: 'Open Sans', sans-serif;
  --body-fonts: "Helvetica", "Arial", sans-serif;

  --line-height: 1.5;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
  --border-radius: 50px;
  --margine: 2rem;
  --padding: 2rem;
}
/*
=============== 
Global Styles
===============
*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary);
  /* background: var(--clr-background); */
  color: var(--clr-grey-1);
  /* line-height: 1.5; */
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--clr-black);

}
h1,
h2,
h3,
h4,
p {
  letter-spacing: var(--spacing);
  line-height: 1.25;
  margin-bottom: 0.75rem;
  margin-top: 0.75rem;
  color: var(--clr-grey-1);
  line-height: 1.5;
}

h1 {
  font-size: 1.5rem;
  font-family: var(--ff-primary);
}
h2 {
  font-size: 1.25rem;
  font-family: var(--ff-primary);
}
h3 {
  font-size: 1rem;
  font-family: var(--ff-primary);
}
h4 {
  font-size: 0.75rem;
  font-family: var(--ff-primary);
}
p {
  font-size: 0.75rem;
  font-family: var(--ff-secondary);
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 2rem;
    font-family: var(--ff-primary);
  }
  h2 {
    font-size: 1.25rem;
    font-family: var(--ff-primary);
  }
  h3 {
    font-size: 1rem;
    font-family: var(--ff-primary);
  }
  h4 {
    font-size: 0.85rem;
    font-family: var(--ff-primary);
  }
  p {
    font-size: 0.85rem;
    font-family: var(--ff-secondary);
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

#trailer {
  height: 20px;
  width: 20px;
  background-color: var(--clr-black);
  border-radius: 20px;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 999;
  pointer-events: none;
  opacity: 0;
  transition: opacity 500ms ease;
}

body:hover > #trailer {
  opacity: 1;
}


/*
=============== 
Navbar
===============
*/
.nav-center {
  /* margin: 0 auto; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

nav {
  background: var(--clr-white);
  border-color: var(--clr-primary-3);
  /* position: fixed; */
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.nav-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  color: var(--clr-black);
}
.nav-toggle {
  font-size: 1.5rem;
  color: var(--clr-primary-2);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}
.nav-toggle:hover {
  color: var(--clr-primary-1);
  transform: rotate(90deg);
}

.links {
  /* height: 0; */
  overflow: hidden;
  transition: var(--transition);
  display: flex;
  justify-content: center; 
  align-items: center;
}

.links {
  width: 12rem;
}

.menu-links {
  width: 100%;
  margin: 1rem;
}

.links a {
  color: var(--clr-black);
  font-size: 1.2rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  /* padding: 0.5rem 1rem; */
  transition: var(--transition);
}

.links a:hover {
  background: var(--clr-primary-4);
  color: var(--clr-grey-4);
  /* padding-left: 1.5rem; */
}
.social-icons {
  display: none;
}


@media screen and (min-width: 800px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links {
    height: auto;
    display: flex;
  }
  .links a {
    padding: 0;
    margin: 0 0.5rem;
  }
  .links a:hover {
    padding: 0;
    background: transparent;
  }
  .social-icons {
    display: flex;
  }
  .social-icons a {
    margin: 0 0.5rem;
    color: var(--clr-primary-2);
    transition: var(--transition);
  }
  .social-icons a:hover {
    color: var(--clr-primary-5);
  }
}


/* 
=============== 
sections global
=============== 
*/

/* section {
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 100vh;
}

.hidden {
  position: relative;

  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 0.1s;
}
.show {
  position: relative;

  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
} */

/* @media (prefers-reduced-motion: reduce) {
  .hidden {
    opacity: 0;
    transition: all 0.1s;
  }
} */

.fix {
  position: -webkit-sticky;
  position: sticky; top: 50px;
}

.section_property h2 {
  margin: var(--margine);
}

.sections {
  display: flex;
  flex-direction: column;
  /* margin: var(--margine); */
}

.section {
  background-color: var( --clr-white);
  border-radius: var(--border-radius);
  width:fit-content;
  height:fit-content;
  border: 2px#222;
  border-style: solid;
  padding: .5rem 4rem;
  box-shadow: 4px 4px #222 ;
}

.section h1 {
    color: var(--clr-grey-1);
    font-family: var(--h1-fonts);
}

/* 
=============== 
sections main
=============== 
*/

main {
  /* display: grid; */
  /* place-items: center; */
}

.article-one {
    font-family: var(--ff-primary);
    color: var(--clr-grey-1);
    line-height: 1.5;
    font-weight: 900;
    font-size: 0.875rem;
    display: flex;
    /* padding-bottom: 3rem; */
    margin-left: 5rem;
    margin-right: 5rem;
}

.bg {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  max-width: 80%;  
  height: 80%;  
}

.article_one_line  {
  border: 0;
  background-color: var(--clr-grey-1);
  height: 5px;

}

.article-one-text {
  text-align: right;
  width: 40%;
  margin: auto;
} 
.article-one-text h1 {
  font-size: 3rem;
}

.article-one-text p {
  margin-top: 1em;
  font-size: 1.2rem;
}

.article-one-buttons {
  display: flex;
  justify-content: center;
}

.article-one-button_one{
  background-color: var( --clr-white);
  padding: .5rem 2rem;
  margin: var(--margine);
  cursor: pointer;
}

.article-one-button_one:hover{
  background-color: var( --clr-white);
  padding: .5rem 2rem;
  margin: var(--margine);
  box-shadow: 4px 4px #222 ;
  cursor: pointer;
  transform: translateY(-2px);
}

.article-one-button_two {
  background-color:  var(--clr-primary-4);
  padding: .5rem 2rem;
  margin: auto;
  cursor: pointer;
}

.article-one-button_two:hover {
  background-color:  var(--clr-primary-4);
  padding: .5rem 2rem;
  margin: auto;
  box-shadow: 4px 4px #222 ;
  cursor: pointer;
  transform: translateY(-2px);
}

/* =============== 
popcor 
===============   */

.popcorn_seed_one {
  position: absolute;
  background: white url(/html5_css3_javascript_website_popcorn/img/popcorn_seed.png);
  width: 50px; 
  height: 50px;
  background-size: cover;
  left: 5rem;
}

.popcorn_seed_one:hover {
  position: absolute;
  background: white url(/html5_css3_javascript_website_popcorn/img/popcorn_2.png);
  width: 50px; 
  height: 50px;
  background-size: cover;
  left: 5rem;
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transition-delay: 900ms;
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.popcorn_seed_two {
  position: absolute;
  background: white url(/html5_css3_javascript_website_popcorn/img/popcorn_seed.png);
  width: 50px; 
  height: 50px;
  background-size: cover;
  right: 10rem;
  top: 10rem;
  transform: rotate(45deg);
}

.popcorn_seed_two:hover {
  position: absolute;
  background: white url(/html5_css3_javascript_website_popcorn/img/popcorn_3.png);
  width: 50px; 
  height: 50px;
  background-size: cover;
  right: 10rem;
  top: 10rem;
  transition-delay: 900ms;
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}


/* 
=============== 
sections motto
=============== 
*/


.section-motto {
  font-family: var(--ff-secondary);
  background: var(--clr-background);
  color: var(--clr-grey-1);
  line-height: 1.5;
  display: flex;
  align-items: center;
}

.section-motto_img{
  background: white url(/html5_css3_javascript_website_popcorn/img/popcorn_seed.png);
  width: 50px; 
  height: 50px;
  text-align: center;
  width: 60%;
  margin: var(--margine);
}


.section-motto_text {
  text-align: center;
  width: 60%;
  margin: var(--margine);
}
.section-motto_h1 {
  align-self: flex-end;
  text-align: end;
}
.section-motto_h1 h1 {
  font-size: 3em;
  margin: var(--margine);
}

.section-motto_text h2 {
  font-size: 3em;
  text-align: start;
}

.section-motto_text h3 {
  font-size: 3em;
  font-weight: 100;
  text-align: start;
}

.section-motto_text p {
  text-align: start;
  margin: 1rem;
}

.section-motto_buttons {
  display: flex;
  margin-top: var(--margine);
}


/* 
=============== 
sections illustrations
=============== 
*/

.section-illustrations_logo {
  align-self: flex-end;
  text-align: end;
}
.section-illustrations_logo h1 {
  margin: var(--margine);
}

/* /// */
.illustration {
  font-family: var(--ff-secondary);
  background: var(--clr-background);
  color: var(--clr-grey-1);
  line-height: 1.5;
  margin: var(--margine);
}

.section-illustrations {
  font-family: var(--ff-secondary);
  background: var(--clr-background);
  color: var(--clr-grey-1);
  line-height: 1.5;
  display: flex;
  align-items: center;
  margin: var(--margine);
  transition: transform;
}

.carousel {
  height: 600px;
  width: 1000px;
  position: relative;
  margin: 0 auto;
}

.carousel__images {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel__track-container{
background-color: #444;
padding: 10px;
position: relative;
}

.carousel__track {
padding: 0;
margin: 0;
list-style: none;
}
.carousel__slide {
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.carousel__button {
  font-size: 4rem;
  position: absolute;
  top: 50%;
  transform: translate(-5%, -50%);
  background: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

.carousel__button--left {
  left: 2rem;
  z-index: 99;
}

.carousel__button--right {
  right: 2rem;
}

/* /// */


.section-illustrations_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color:  var( --clr-grey-4);
  border-radius: var(--border-radius);
  box-shadow: 4px 4px #222 ;
  margin: var(--margine);
}

.section-illustrations_img {
  display: flex;
  background: #ffffff;
  /* object-fit: cover; */
  object-position: center;
  width: 50%;
  height: 60vw;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);

}

.section-illustrations_text {
  text-align: center;
  margin: var(--margine);
}

.section-illustrations_text h3 {
  font-weight: 100;
}

.section-illustrations_text p {
  text-align: start;
  margin: .5rem;
}

.section-illustrations_buttons {
  display: flex;
  margin-top: var(--margine);
}

.section-illustrations_button {
  display: flex;
  align-items: center;
}
.section-illustrations_button_one {
  background-color:  var( --clr-primary-5);
  border-radius: 50%;
  box-shadow: 4px 4px #222 ;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
}
.section-illustrations_button_two {
  background-color:  var( --clr-primary-5);
  border-radius: 50%;
  box-shadow: 4px 4px #222 ;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
}



/*
=============== 
sections conact 
===============  
*/

section_property img {
  background-size: contain;
  background-image: url(img/painting_computer.png); 
  background-repeat: no-repeat;
  background-position: center center;
  height: 50vh;
  width: 50vw;
  margin: auto;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  clip-path: polygon(0 26%, 100% 0, 100% 100%, 0% 100%);
}


/*
=============== 
sections footer 
===============  
*/
.footer {
  
  background: var(--clr-white);
  border-color: var(--clr-primary-3);
  border-style: solid;
  padding: var(--padding);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/*
=============== 
sections cookies 
===============  
*/

.cookie-container {
  background: linear-gradient(260deg, #84d7ec 0%, #fca5ea 100%);
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  display: flex;
  width: 100%;
  height: 10rem;
  border-radius: var(--border-radius);
  padding: .5rem 2rem;
  /* box-decoration-break: ; */
  margin: auto;
  box-shadow: 4px 4px #222 ;
  border-color: var(--clr-primary-3);
  border-style: solid;
  align-items: center;
  z-index: 999;
}

.cookie {
  padding: 2rem;
  width: 12rem;
}

.cookies-text {
  font-size: .2rem;
  width: 95%;
  padding: 1rem;
  /* margin: 1rem; */
}

.cookie-subtitle {
  font-size: .5rem;
  color: #444;
  margin: 0;
}

.cookie-button {
    background-color: var( --clr-primary-5);
    border-radius: var(--border-radius);
    padding: .5rem 2rem;
    margin: auto;
    box-shadow: 4px 4px #222 ;
    cursor: pointer;
    margin: 1rem;
}

@media screen and (min-width: 992px) {
  .cookies-text {
    font-size: .8rem;
    width: 95%;
    padding: 1rem;
    /* margin: 1rem; */
  }
  .cookie-subtitle {
    font-size: .8rem;
    color: #444;
    margin: 0;
  }
}
