
@import "./style.css";
@import "./style_shoping.css";

/* 
For Mobile Phone 
*/
@media only screen and (max-width: 767px) {

body {
  margin: 0;  
}

h1,h2,h3  {
  letter-spacing: var(--spacing);
  line-height: 1;
  color: var(--clr-black);
  font-size: 1.5rem;
  font-family: var(--ff-secondary);
  text-align: center;
  padding: 0;
  margin: .5rem;
  font-weight: bold;
}

h4, p, a {
    letter-spacing: var(--spacing);
    color: var(--clr-black);
    font-size: 1rem;
    font-family: var(--ff-secondary);
    text-align: center;
    padding: 0;
}

main {
  min-height: 0;
  place-items: center;
}

.main__article, 
.section__contact,
.section__about,
.section__recipes,
.nav__all,
.main__article--buttons,
.nav__center--logo,
.nav__center {
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: center;
}

.main__article--img,
.section__motto--img,
.section__motto--img--second{
  width: 100%;
  padding: 1rem 2rem ;
  justify-content: center;
}
.section__motto,
.section__motto--section {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.main__button--one, 
.main__button--two {
  margin: .5rem;
}
.nav__button-toggle {
  border: none;
  background-color: var(--clr-white);
  padding: 0.5rem 3rem;
}
.nav__center--social,
.nav__left--shop {
  display: none;
}

.form__register, 
.form__login {
  width: 80%;
  margin-top: 1rem;
}
.nav__button-toggle {
  font-size:20px
}
.nav__button-toggle:hover > i  {
  font-size:25px
}
.nav__button-toggle:checked  {
  size: 20px;
}
.cookies-text {
  font-size: .8rem;
  width: 95%;
  }
.cookie-subtitle {
  font-size: .8rem;
  color: #444;
  margin: 0;
}

html{
    font-size: 50%;
}

/* 
=============== 
JS MENU NAV
=============== 
*/
.nav__center--links,
.nav__center--logo {
  text-decoration: none;
}
header .nav__center--logo a h1{
  font-size: 2.5rem;
}
.nav__center--nav li,
.nav__center--login li {
  text-align: center;
  margin: 10px 0 auto;
}
.nav__center--toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer; 
  color: rgba(0, 0, 0, 0.8);
  font-size: 24px;
}
.nav__center--nav,
.nav__center--login {
  list-style-type: none;
  display: none;
  text-align: center;
}
.active {
  display: block;
}

.section__contact--details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0 2rem;
}
.header__cart {
  display: flex;
  justify-content: space-between;
}
}   

/* 
=============== 
For Tablets 
=============== 
*/
@media only screen and (min-width: 767px) {

h1,h2,h3  {
  letter-spacing: var(--spacing);
  line-height: 1;
  color: var(--clr-black);
  font-size: 2rem;
  font-family: var(--ff-secondary);
  padding: 0;
  margin: .5rem;
  font-weight: bold;
}
  
h4, p, a {
  letter-spacing: var(--spacing);
  color: var(--clr-black);
  font-size: 1rem;
  font-family: var(--ff-secondary);
  text-align: center;
}
header .fab, .far, .fas{
  font-size: 1.5rem;
}

footer .fab, .far, .fas{
  font-size: 1rem;
}

.nav__center--social > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} 

.nav__all {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  margin: 2rem auto;
  justify-content: space-between;
}
.form__register, 
.form__login {
  /* width: 50%; */
  margin-top: 1rem;
}
.main__article, 
.section__motto, 
.section__contact,
.section__about,
.section__recipes,
.main__article--buttons,
.nav__center--logo {
  display: flex;
  justify-content: center;
}
.section__motto--menu,
.section__motto--img,
.section__motto--img--second,
.section__motto--text,
.main__article--img,
.main__article--text {
  margin: 2rem ;
}
header .nav__center--logo a h1{
  font-size: 3rem;
}
footer .nav__center--logo a h1 {
  font-size: 2rem;
}

.nav__center--login,
.nav__left--shop {
  margin: 0 2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.main__article--img {
  max-width: 40%;
  padding: 2rem 0;
}
.main__article--text p {
  text-align: left;
}

.main__button--one, 
.main__button--two {
  margin: .5rem;
}

.section__motto{
  flex-direction: column;
}
.section__motto--text {
  border: none;
  text-align: center;
}
.cookies-text {
  font-size: .8rem;
  width: 95%;
}
.cookie-subtitle {
  font-size: .8rem;
  color: #444;
  margin: 0;
}

.nav__center--toggle {
  display: none;
}
/* 
Shop header 
*/
.header__cart {
  display: flex;
  justify-content: space-between;
}
}
/* 
=============
For Desctop 
=============
*/
@media screen and (min-width: 1023px){
  .main__article, 
  .section__motto, 
  .section__contact,
  .section__about,
  .section__recipes,
  .nav__all,
  .main__article--buttons {
      max-width: 900px;
      margin: 2rem auto;
      display: flex;
      padding: 0;
  }
  .main__article--img {
    max-width: 40%;
    margin: 0 auto; 
  }
  h1,h2,h3  {
    letter-spacing: var(--spacing);
    line-height: 1;
    color: var(--clr-black);
    font-size: 2rem;
    font-family: var(--ff-secondary);
    padding: 0;
    margin: .5rem;
    font-weight: bold;
  }
    
  h4, p, a {
    letter-spacing: var(--spacing);
    color: var(--clr-black);
    font-size: 1rem;
    font-family: var(--ff-secondary);
    text-align: center;
  }
  header .fab, .far, .fas{
    font-size: 1.5rem;
  }
  
  footer .fab, .far, .fas{
    font-size: 1rem;
  }
  header .nav__center--logo a h1{
    font-size: 3rem;
  }
  footer .nav__center--logo a h1 {
    font-size: 2rem;
  }
  .nav__center--social > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  } 
  .nav__all {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    margin: 2rem auto;
    justify-content: space-between;
  }
  .form__register, 
  .form__login {
    /* width: 50%; */
    margin-top: 1rem;
  }
  .main__article, 
  .section__motto, 
  .section__contact,
  .section__about,
  .section__recipes,
  .main__article--buttons,
  .nav__center--logo {
    display: flex;
    justify-content: center;
  }
  .section__motto--menu,
  .section__motto--img,
  .section__motto--img--second,
  .section__motto--text,
  .main__article--img,
  .main__article--text {
    margin: 2rem ;
  }
  .nav__center--login,
  .nav__left--shop {
    margin: 0 2rem;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .main__article--img {
      max-width: 40%;
      padding: 2rem 0;
  }
  .main__article--text p {
    text-align: left;
  }

  .main__button--one, 
  .main__button--two {
      margin: .5rem;
    }
    
  .section__motto{
    flex-direction: column;
  }

  .section__motto--text {
    border: none;
    text-align: center;
  }

.cookies-text {
  font-size: .8rem;
  width: 95%;
  }
  .cookie-subtitle {
  font-size: .8rem;
  color: #444;
  margin: 0;
  }

.nav__center--toggle {
  display: none;
}

/* 
Shop header 
*/
  .shopping-cart{
    overflow-x: scroll;
  }
  
  .shopping-cart table{
    width: 120rem;
  }
  .header__cart {
    display: flex;
    justify-content: space-between;
  }
}

/*    
  .nav__center--logo {
    padding: 0;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .nav-toggle, 
  .nav__left--shop,
  .nav__center--social,
  .message__login--success,
  .nav__button-toggle {
    display: none;
    font-size: 0.8rem;
  }
  .nav__button-toggle{
    display: none;
  }
  .nav__center--menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: hidden;
    transition: var(--transition);
    font-size: 0.8rem;
    background-color: #d0d0d0;
  }
  .nav__right--login {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: hidden;
    transition: var(--transition);
    font-size: 0.8rem;
  }

  .nav__center--menu a:hover {
    background: transparent;
  }

  .cookies-text {
    font-size: .8rem;
    width: 95%;
  }
  .cookie-subtitle {
    font-size: .8rem;
    color: #444;
    margin: 0;
  }
  }

For Large Laptops
  @media screen and (max-width: 992px) {
    .main__article, 
    .section__motto--background, 
    .section__contact {
        max-width: 992px;
        margin: 0 auto;
    }
    h1 {
      font-size: 2rem;
      font-family: var(--ff-primary);
    }
    h2 {
      font-size: 1.25rem;
      font-family: var(--ff-primary);
    }
    h3 {
      font-size: 1rem;
      font-family: var(--ff-primary);
    }
    p {
      font-size: 1rem;
      font-family: var(--ff-secondary);
    }
    h1,
    h2,
    h3,
    h4 {
      line-height: 1;
    }
    .nav-center {
      max-width: 1170px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem;
    }
    .nav__center--logo {
      padding: 0;
    }
    .nav-toggle, 
    nav__left--shop {
      display: none;
    }
    .nav__center--menu {
      height: auto;
      display: flex;
      transition: var(--transition);
    }
    .nav__center--menu a {
      padding: 0;
      margin: 0 0.5rem;
    }
    .nav__center--menu a:hover {
      padding: 0;
      background: transparent;
    }
    .nav__center--social {
      display: flex;
    }
    .nav__center--social a {
      margin: 0 0.5rem;
      transition: var(--transition);
    }
    .nav__center--social a:hover {
      color: var(--clr-primary-5);
    }
    .cookies-text {
      font-size: .8rem;
      width: 95%;
      padding: 1rem;
      /* margin: 1rem; */
    /* }
    .cookie-subtitle {
      font-size: .8rem;
      color: #444;
      margin: 0;
    }
  } */
/* For Big TV's (HD Screens) 
  /* @media screen and (min-width: 1280px) {
    .main__article, 
    .section__motto--background, 
    .section__contact {
          /* width: 1250px; */
          /* max-width: 1000px;
          margin: 0 auto;
      }
  }
  
 /* For Projectors or Higher Resolution Screens (Full HD) */
  /* @media screen and (min-width: 1920px) {
    .main__article, 
    .section__motto--background, 
    .section__contact {
          /* width: 1890px; */
          /* max-width: 1200px;
          margin: 0 auto;
      }
  } */

/* For 4K Displays (Ultra HD) */
/* @media screen and (min-width: 3840px) {
.main__article, 
.section__motto--background, 
.section__contact {
        width: 3810px; 
        max-width: 1500px;
        margin: 0 auto;
    }
} */