@import ".style.css";
@import ".style_media.css";


.message{
    z-index: 10000;
    padding:2rem;
    display: flex;
    align-items: center;
}

.message i{
    font-size: 1rem;
    color:var(--black);
    cursor: pointer;
}

.message i:hover{
    color:var(--red);
}

/* 
=========
Cart header
=========
*/
.header__cart {
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 2rem;
    background-color: var(--clr-primary-2);
    margin: 2rem auto;
}

.header__cart--order a {
    margin: 0 1rem;
}

#menu-btn{
    margin-left: 2rem;
    font-size: 3rem;
    cursor: pointer;
    color:var(--white);
    display: none;
}


/* 
=============
Section add products
=============
*/
.add__product--container{
    display: flex;
    justify-content: center;
    padding:2rem;
}

.add__product--form {
    display: flex;
    flex-direction: column;
    color:var(--black);
    width: 50%;
}
.add__product--btn {
    display: flex;
}

.add__product-display-table {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.add__product-display-table table thead th{
    padding:1.5rem;
    font-size: 1rem;
}

.add__product-display-table table td {
    padding:1.5rem;
    font-size: 1rem;
}
.add__product-display-table table td a {
    display: flex;
    flex-direction: column;
}

.add__product-display-table table td img {
    border-radius: 50%;
}

/* 
=============
Section update products
=============
*/

.update__product-form-container {
    display: flex;
    justify-content: center;
    padding:2rem;
}

.update__product--form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color:var(--black);
}
.update__product--form img{
    border-radius: 50%;
}

/* 
=========
Section items
=========
*/
.section__products{
    max-width: 900px;
    margin: 2rem auto;
}

.section__products--container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 35rem);
    gap:1.5rem;
    justify-content: center;
}

.section__products--box{
    text-align: center;
    padding:2rem;
    box-shadow: var(--box-shadow);
}

.section__products--box h3{
    margin:1rem 0;
    font-size: 1rem;
    color:var(--black);
}

.section__products--box .price{
    font-size: 1rem;
    color:var(--black);
}

.section__products--box img{
    border-radius: 50%;
}

/* 
=============
Section your order - cart
============= */
.section__cart{
    max-width: 900px;
    margin: 2rem auto;
}

.section__cart--table {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.section__cart--table th{
    padding:1.5rem;
    font-size: 1rem;
    border: solid 1px rgb(216, 216, 216);
}

.section__cart--table tr td {
    padding:1.5rem;
    font-size: 1rem;
    border: solid 1px rgb(216, 216, 216);
}
.section__cart--table tr td a {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: .5rem 0 ;
    font-family: var(--ff-primary);
}

.section__cart--table tr td a:hover {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: .5rem 0 ;
    font-family: var(--ff-primary);
}

.section__cart--table tr td img {
    border-radius: 50%;
}


.shopping__cart--table-bottom {
    display: flex;
    flex-direction: column;
}
.shopping__cart--table-bottom tr {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    align-items: center;
    text-align: center;
    font-weight: bold;
}

.shopping__cart--table-bottom td {
    text-align: center;
    font-weight: bold;
    padding: 1rem 0;
}

.shopping__cart--table-bottom td a {
    text-align: center;
    font-weight: bold;
}

/* 
========
Checkout form
========
*/
.checkout__message-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    margin: auto 2rem ;
}

.checkout__message {
    display: flex;
    flex-direction: column;
    /* margin: 2rem; */
}

.checkout__message-customer-details {
    display: flex;
    flex-direction: column;
    /* margin: 2rem; */
}

.checkout__message-btn {
    display: flex;
    justify-items: center;
    justify-content: center;
}

/* checkout form */
.checkout__form {
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    margin: auto 2rem ;
}

.checkout__form form{
    padding:1rem;
    background-color: var(--bg-color);
}


.checkout__form-input p{
    font-size: 1rem;
    color:var(--black);
    text-align: left;
}

.checkout__form-btn {
    display: flex;
    justify-items: center;
    justify-content: center;
}


.checkout__form-display-order {
    max-width: 50rem;
    background-color: var(--white);
    border-radius: .5rem;
    text-align: center;
    margin:0 auto;
    box-shadow: var(--box-shadow);
    border:var(--border);
}

.checkout__form-display-order span {
    display: inline-block;
    font-size: 1rem;
    color:var(--black);
}

.checkout__form-grand-total {
    width: 100%;
    background-color: var(--red);
    color:var(--white);
}



